{% comment %}
  Renders a hotspot with product popup

  Accepts:
  - enabled: {Boolean} Whether the hotspot is enabled (required)
  - product: {Object} Product Liquid object
  - horizontal: {Number} Horizontal position percentage (0-100)
  - vertical: {Number} Vertical position percentage (0-100)
  - popup_position: {String} Popup position: 'top', 'right', 'bottom', or 'left' (default: 'top')
  - index: {Number} Hotspot index number
  - block_id: {String} Block ID for unique popup ID

  Example usage:
  {% render 'component-hotspot',
    enabled: block.settings.hotspot_1_enabled,
    product: block.settings.hotspot_1_product,
    horizontal: block.settings.hotspot_1_horizontal,
    vertical: block.settings.hotspot_1_vertical,
    popup_position: block.settings.hotspot_1_popup_position,
    index: 1,
    block_id: block.id
  %}
{% endcomment %}

{%- if enabled and product != blank -%}
  <div
    class="shop-the-look__hotspot"
    style="
      left: {{ horizontal }}%;
      top: {{ vertical }}%;
    "
    data-hotspot-index="{{ index }}"
  >
    <button
      type="button"
      class="shop-the-look__hotspot-trigger"
      aria-label="View product details"
      aria-expanded="false"
      data-popup-trigger="hotspot-{{ block_id }}-{{ index }}"
    >
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" rx="16" fill="#FF3A40"/>
        <rect x="1" y="1" width="30" height="30" rx="15" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
        <rect x="8" y="8" width="16" height="16" rx="8" fill="#F6F1ED"/>
      </svg>
    </button>
    <div 
      class="shop-the-look__hotspot-popup shop-the-look__hotspot-popup--{{ popup_position | default: 'top' }}" 
      id="hotspot-{{ block_id }}-{{ index }}"
      data-product-url="{{ product.url }}"
      data-position="{{ popup_position | default: 'top' }}"
    >
      <div class="shop-the-look__hotspot-popup-content">
        {%- if product.featured_image != blank -%}
          <div class="shop-the-look__hotspot-popup-image">
            <img
              src="{{ product.featured_image | image_url: width: 200 }}"
              alt="{{ product.featured_image.alt | default: product.title | escape }}"
              loading="lazy"
              width="{{ product.featured_image.width }}"
              height="{{ product.featured_image.height }}"
            >
          </div>
        {%- endif -%}
        <div class="shop-the-look__hotspot-popup-info">
          <h3 class="shop-the-look__hotspot-popup-title">{{ product.title | escape }}</h3>
          <div class="shop-the-look__hotspot-popup-price">
            {% render 'component-product-price', product: product, show_compare_at_price: false, hide_currency: true %}
          </div>
        </div>
        <a href="{{ product.url }}" class="shop-the-look__hotspot-popup-arrow" aria-label="View {{ product.title | escape }}">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.81501 6.55789C8.06166 6.80208 8.06166 7.19791 7.81501 7.4421L1.37589 13.8169C1.12924 14.061 0.729406 14.061 0.482755 13.8169L0.184989 13.5221C-0.0616628 13.2779 -0.0616628 12.882 0.184989 12.6379L5.87978 7L0.184989 1.36213C-0.0616628 1.11795 -0.0616628 0.722115 0.184989 0.477929L0.482755 0.183139C0.729406 -0.0610466 1.12924 -0.0610466 1.37589 0.183139L7.81501 6.55789Z" fill="url(#paint0_linear_268_897)"/>
            <defs>
            <linearGradient id="paint0_linear_268_897" x1="4" y1="0" x2="4" y2="14" gradientUnits="userSpaceOnUse">
            <stop stop-color="#202123"/>
            <stop offset="1" stop-color="#4A4A4A"/>
            </linearGradient>
            </defs>
            </svg>
            
        </a>
      </div>
    </div>
  </div>
{%- endif -%}
