{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
    background-color: rgb(243, 243, 243);
    z-index: 1;
    position: relative;
  }
</style>

<footer class="footer color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    assign brand_empty = true
    if settings.brand_image != blank or settings.brand_description != blank
      assign brand_empty = false
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information'
      assign brand_block = section.blocks[0]
      if brand_block.settings.logo_image != blank or brand_block.settings.headline != blank or brand_block.settings.description != blank or brand_block.settings.show_newsletter or brand_block.settings.show_social and has_social_icons
        assign brand_empty = false
      endif
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false
      assign only_empty_brand = true
    else
      assign only_empty_brand = false
    endif
  -%}
  {%- if section.blocks.size > 0 or section.settings.show_social and has_social_icons == true -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        <div class="footer__blocks-wrapper">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item" {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when 'text' -%}
                  <h2 class="footer-block__heading">{{ block.settings.heading }}</h2>
                  <div class="footer-block__details-content">{{ block.settings.subtext }}</div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <h2 class="footer-block__heading">{{ block.settings.heading }}</h2>
                    <ul class="footer-block__details-content">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a
                            href="{{ link.url }}"
                            class="list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                          >
                            {{- link.title | escape -}}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'social_icons' -%}
                  <h2 class="footer-block__heading">Follow Us</h2>
                  <div class="footer-block__details-content footer-block-social-icons">
                    {%- render 'component-social-icons', class: 'footer__list-social' -%}
                  </div>
                {%- when 'brand_information' -%}
                  <div class="footer-block__brand-info" {{ block.shopify_attributes }}>
                    {%- liquid
                      assign brand_logo = block.settings.logo_image | default: settings.brand_image
                      assign brand_description = block.settings.description | default: settings.brand_description
                    -%}
                    {%- if brand_logo != blank -%}
                      <div class="footer-block__brand-logo">
                        {{
                          brand_logo
                          | image_url: width: 430
                          | image_tag:
                            loading: 'lazy',
                            widths: '100, 150, 215, 300, 430',
                            height: 50,
                            width: 215,
                            sizes: '215px'
                        }}
                      </div>
                    {%- endif -%}
                    {%- if brand_description != blank -%}
                      <div class="footer-block__brand-description">{{ brand_description }}</div>
                    {%- endif -%}
                    {%- if block.settings.show_newsletter -%}
                      <div class="footer-block__brand-newsletter">
                        {%- form 'customer', class: 'footer-brand-newsletter-form' -%}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="footer-brand-newsletter__input-wrapper">
                            <input
                              type="email"
                              name="contact[email]"
                              class="footer-brand-newsletter__input"
                              value="{{ form.email }}"
                              autocomplete="email"
                              placeholder="{{ block.settings.newsletter_placeholder | default: 'Enter your email' }}"
                              aria-label="{{ block.settings.newsletter_placeholder | default: 'Enter your email' }}"
                              required
                            >
                            <button type="submit" class="footer-brand-newsletter__button" name="commit">
                              {{ block.settings.newsletter_button_text | default: 'Subscribe' }}
                            </button>
                          </div>
                          {%- if form.posted_successfully? -%}
                            <p class="footer-brand-newsletter__message form__message" tabindex="-1">
                              {{ 'newsletter.success' | t }}
                            </p>
                          {%- endif -%}
                          {%- if form.errors -%}
                            <p class="footer-brand-newsletter__message form__message form__message--error" tabindex="-1">
                              {{ form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email }}
                            </p>
                          {%- endif -%}
                        {%- endform -%}
                      </div>
                    {%- endif -%}
                    {%- if block.settings.show_social -%}
                      <div class="footer-block__brand-social">
                        <ul class="list-unstyled list-social footer__list-social" role="list">
                          {%- if settings.social_facebook_link != blank -%}
                            <li class="list-social__item">
                              <a href="{{ settings.social_facebook_link }}" class="link list-social__link" target="_blank" rel="noopener">
                                <span class="svg-wrapper">
                                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.88403 1.45761C9.62689 0.750463 10.684 0.511891 11.6812 0.481891C12.7355 0.471891 13.7897 0.479034 14.8426 0.479034C14.8469 1.59189 14.8469 2.70475 14.8426 3.81618C14.1612 3.81618 13.4783 3.81903 12.7969 3.81618C12.3655 3.78761 11.9212 4.11618 11.8426 4.54475C11.8326 5.28761 11.8383 6.03332 11.8397 6.77761C12.8397 6.78189 13.8397 6.77761 14.8383 6.78046C14.7587 7.85716 14.6371 8.93036 14.474 9.99761C13.5912 10.0062 12.7083 9.99761 11.8255 10.0019C11.8169 13.1776 11.8297 16.3547 11.8197 19.5305C10.5083 19.5362 9.19546 19.5276 7.88403 19.5347C7.85974 16.3576 7.88546 13.179 7.86974 10.0019C7.23117 9.99618 6.59117 10.0076 5.95117 9.99761V6.79332C6.59117 6.78618 7.23117 6.79618 7.87117 6.78903C7.88974 5.75189 7.85117 4.71189 7.89117 3.67475C7.95546 2.85332 8.26831 2.02618 8.8826 1.45903" fill="#F6F1ED"/>
                                    </svg>                                    
                                </span>
                                <span class="visually-hidden">Facebook</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- if settings.social_instagram_link != blank -%}
                            <li class="list-social__item">
                              <a href="{{ settings.social_instagram_link }}" class="link list-social__link" target="_blank" rel="noopener">
                                <span class="svg-wrapper">
                                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0508 3.80465C15.3532 3.80465 15.6432 3.92476 15.8569 4.13855C16.0707 4.35234 16.1908 4.6423 16.1908 4.94465C16.1908 5.247 16.0707 5.53696 15.8569 5.75075C15.6432 5.96454 15.3532 6.08465 15.0508 6.08465C14.7485 6.08465 14.4585 5.96454 14.2447 5.75075C14.031 5.53696 13.9108 5.247 13.9108 4.94465C13.9108 4.6423 14.031 4.35234 14.2447 4.13855C14.4585 3.92476 14.7485 3.80465 15.0508 3.80465ZM9.97942 13.1832C10.3953 13.1832 10.8072 13.1013 11.1914 12.9421C11.5757 12.783 11.9248 12.5497 12.2189 12.2556C12.513 11.9615 12.7463 11.6123 12.9055 11.2281C13.0646 10.8438 13.1466 10.432 13.1466 10.0161C13.1466 9.60016 13.0646 9.18832 12.9055 8.80406C12.7463 8.41981 12.513 8.07067 12.2189 7.77657C11.9248 7.48247 11.5757 7.24918 11.1914 7.09002C10.8072 6.93086 10.3953 6.84893 9.97942 6.84893C9.13944 6.84893 8.33387 7.18261 7.73991 7.77657C7.14596 8.37052 6.81228 9.1761 6.81228 10.0161C6.81228 10.8561 7.14596 11.6616 7.73991 12.2556C8.33387 12.8495 9.13944 13.1832 9.97942 13.1832ZM9.97942 5.13751C10.6272 5.12642 11.2707 5.24444 11.8724 5.48467C12.4741 5.7249 13.0219 6.08253 13.4839 6.53672C13.946 6.9909 14.3129 7.53253 14.5634 8.13003C14.8139 8.72752 14.9429 9.36891 14.9429 10.0168C14.9429 10.6647 14.8139 11.3061 14.5634 11.9036C14.3129 12.501 13.946 13.0427 13.4839 13.4969C13.0219 13.9511 12.4741 14.3087 11.8724 14.5489C11.2707 14.7891 10.6272 14.9072 9.97942 14.8961C8.69981 14.8742 7.48001 14.3505 6.58284 13.4378C5.68566 12.5252 5.18291 11.2966 5.18291 10.0168C5.18291 8.737 5.68566 7.50842 6.58284 6.59576C7.48001 5.6831 8.69981 5.1594 9.97942 5.13751ZM9.97942 0.514648C12.558 0.514648 12.8837 0.526077 13.8966 0.571791C14.908 0.617506 15.5994 0.778934 16.2037 1.01465C16.8375 1.25274 17.4118 1.62618 17.8866 2.10893C18.3694 2.58465 18.7437 3.15893 18.9823 3.79322C19.2166 4.39751 19.378 5.08751 19.4251 6.09893C19.4708 7.11322 19.4823 7.43608 19.4823 10.0161C19.4823 12.5975 19.4708 12.9204 19.4251 13.9347C19.378 14.9461 19.2166 15.6361 18.9823 16.2404C18.7383 16.8717 18.3651 17.4452 17.8867 17.9239C17.4082 18.4026 16.8349 18.7761 16.2037 19.0204C15.5994 19.2547 14.908 19.4147 13.8966 19.4618C12.8823 19.5075 12.5594 19.5189 9.97942 19.5189C7.39799 19.5189 7.07513 19.5075 6.06085 19.4618C5.05085 19.4147 4.35942 19.2547 3.75513 19.0189C3.12118 18.7804 2.54687 18.4065 2.07228 17.9232C1.58901 17.4486 1.21508 16.8743 0.976563 16.2404C0.740848 15.6361 0.580848 14.9461 0.533705 13.9347C0.487991 12.9204 0.476562 12.5975 0.476562 10.0161C0.476562 7.43608 0.487991 7.11179 0.533705 6.09893C0.580848 5.08751 0.740848 4.39751 0.976563 3.79179C1.21508 3.15783 1.58901 2.58353 2.07228 2.10893C2.54701 1.62618 3.12131 1.25274 3.75513 1.01465C4.35799 0.778934 5.04942 0.617506 6.06085 0.571791C7.07513 0.526077 7.39799 0.514648 9.97942 0.514648ZM9.97942 2.22608C7.44228 2.22608 7.14085 2.23608 6.13942 2.28322C5.21228 2.32465 4.71085 2.47893 4.37513 2.60893C3.96223 2.76137 3.58878 3.00448 3.28228 3.32036C2.96691 3.62701 2.72429 4.00045 2.57228 4.41322C2.44085 4.74751 2.28656 5.25036 2.24371 6.17751C2.19942 7.17893 2.18942 7.47893 2.18942 10.0161C2.18942 12.5532 2.19942 12.8547 2.24513 13.8561C2.28799 14.7832 2.44085 15.2847 2.57228 15.6204C2.72371 16.0347 2.96656 16.4061 3.28228 16.7132C3.58942 17.0289 3.96228 17.2718 4.37513 17.4247C4.70942 17.5532 5.21228 17.7104 6.13942 17.7518C7.14085 17.7975 7.44228 17.8061 9.97942 17.8061C12.5166 17.8061 12.8166 17.7975 13.818 17.7518C14.7451 17.7089 15.248 17.5547 15.5837 17.4232C15.9934 17.2651 16.3654 17.023 16.6759 16.7125C16.9864 16.402 17.2285 16.03 17.3866 15.6204C17.5166 15.2861 17.6723 14.7832 17.7137 13.8561C17.7594 12.8547 17.7694 12.5546 17.7694 10.0161C17.7694 7.47893 17.7594 7.17893 17.7123 6.17751C17.6708 5.25036 17.5166 4.74751 17.3866 4.41322C17.2341 4.00032 16.991 3.62686 16.6751 3.32036C16.369 3.00466 15.9961 2.76156 15.5837 2.60893C15.248 2.48036 14.7451 2.32322 13.8194 2.28179C12.8166 2.23608 12.5166 2.22608 9.97942 2.22608Z" fill="#F6F1ED"/>
                                    </svg>                                    
                                </span>
                                <span class="visually-hidden">Instagram</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- if settings.social_tiktok_link != blank -%}
                            <li class="list-social__item">
                              <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" target="_blank" rel="noopener">
                                <span class="svg-wrapper">
                                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.7478 0H14.1786C14.4984 0.132292 14.6223 0.370833 14.6312 0.716667C14.6536 1.60625 14.9624 2.39583 15.5473 3.06563C16.2817 3.90677 17.2109 4.34896 18.3291 4.38906C18.8051 4.40625 19.0098 4.62344 19.0098 5.09844C19.0103 6.08073 19.0114 7.06354 19.0093 8.04583C19.0088 8.46875 18.7629 8.71042 18.3385 8.70365C17.3494 8.6875 16.3905 8.51302 15.4702 8.14375C15.1911 8.03177 14.9187 7.90417 14.6202 7.77396V8.02708C14.6202 9.78385 14.6223 11.5406 14.6182 13.2974C14.6176 13.6026 14.6062 13.9094 14.5718 14.2125C14.2666 16.8734 12.3708 19.0766 9.78325 19.7688C9.38482 19.8755 8.97128 19.9245 8.5645 20.0005H7.59002C7.32232 19.9573 7.05253 19.9245 6.78742 19.8698C3.21503 19.1365 0.93013 15.6224 1.70305 12.0547C2.34836 9.07812 4.9994 6.92188 8.03065 6.90781C8.41398 6.90625 8.67075 7.13594 8.67284 7.51094C8.67857 8.54583 8.67909 9.58125 8.67232 10.6161C8.67023 10.9641 8.42648 11.1932 8.07909 11.2125C7.96242 11.2193 7.84627 11.2297 7.73065 11.2464C6.51867 11.4224 5.65982 12.6359 5.8895 13.8479C6.12492 15.0911 7.33325 15.9083 8.54003 15.6406C9.6145 15.4026 10.3192 14.5125 10.3197 13.3849C10.3208 9.18594 10.3234 4.98646 10.315 0.7875C10.314 0.426042 10.4129 0.158333 10.7478 0Z" fill="#F6F1ED"/>
                                    </svg>                                    
                                </span>
                                <span class="visually-hidden">TikTok</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- comment -%} LinkedIn - always show when social is enabled (add URL in Theme Settings > Social media) {%- endcomment -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_linkedin_link | default: '#' }}" class="link list-social__link" target="_blank" rel="noopener"{% if settings.social_linkedin_link == blank %} aria-disabled="true"{% endif %}>
                                <span class="svg-wrapper">
                                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.5714 0C19.3304 0 20 0.669619 20 1.47324V18.5714C20 19.375 19.3304 20 18.5714 20H1.3839C0.624953 20 0 19.375 0 18.5714V1.47324C0 0.669619 0.624953 0 1.3839 0H18.5714ZM6.02676 17.1429V7.6339H3.08038V17.1429H6.02676ZM4.55352 6.29467C5.49105 6.29467 6.25 5.53571 6.25 4.59819C6.25 3.66076 5.49105 2.85714 4.55352 2.85714C3.57143 2.85714 2.81248 3.66076 2.81248 4.59819C2.81248 5.53571 3.57143 6.29467 4.55352 6.29467ZM17.1429 17.1429V11.9196C17.1429 9.37505 16.5625 7.3661 13.5714 7.3661C12.1429 7.3661 11.1608 8.16962 10.759 8.92857H10.7143V7.6339H7.90181V17.1429H10.8482V12.4553C10.8482 11.2053 11.0714 10 12.6339 10C14.1518 10 14.1518 11.4286 14.1518 12.5V17.1429H17.1429Z" fill="#F6F1ED"/>
                                    </svg>                                    
                                </span>
                                <span class="visually-hidden">LinkedIn</span>
                              </a>
                            </li>
                        </ul>
                      </div>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper">
      <div class="footer__column footer__localization">
        {%- render 'component-localization-form',
          enable_country_selector: section.settings.enable_country_selector,
          enable_language_selector: section.settings.enable_language_selector,
          menu_color_scheme: section.settings.color_scheme
        -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <ul class="list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright">
        <small class="copyright__content" >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }} - {{ powered_by_link }} </small>
        {%- if section.settings.show_policy -%}
          <ul class="policies">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "header",
          "content": "Logo"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo image",
          "info": "Uses theme settings logo if none selected. Displayed at 215×50px."
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "inline_richtext",
          "id": "headline",
          "label": "Headline",
          "info": "Uses theme settings if empty."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "info": "Uses theme settings if empty."
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "show_newsletter",
          "default": true,
          "label": "Show newsletter signup"
        },
        {
          "type": "text",
          "id": "newsletter_placeholder",
          "label": "Email placeholder",
          "default": "Enter your email"
        },
        {
          "type": "text",
          "id": "newsletter_button_text",
          "label": "Subscribe button text",
          "default": "Subscribe"
        },
        {
          "type": "header",
          "content": "Social media"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.footer.name",
      "blocks": [
        {
          "type": "brand_information"
        },
        {
          "type": "link_list"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
