{% comment %} /sections/promo-banner.liquid {% endcomment %}

{{ 'section-promo-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-icon-size {
    --selling-points-icon-size: {{ section.settings.icon_size }}px;
  }
{%- endstyle -%}

{%- liquid
  assign image_placement = section.settings.image_placement
  assign image_height = section.settings.image_height
  assign image_fit = section.settings.image_fit
  assign image_position = section.settings.image_position
  assign button_background_color = section.settings.button_background_color
  assign button_text_color = section.settings.button_text_color
  assign background_image = section.settings.background_image
  assign mobile_background_image = section.settings.mobile_background_image
  
  assign heading = section.settings.heading
  assign subheading = section.settings.subheading
  assign button_text = section.settings.button_text
  assign button_url = section.settings.button_url
  assign promo_image = section.settings.promo_image
-%}

<div
  class="color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
  style="
    --promo-banner-image-placement: {{ image_placement }};
    --promo-banner-image-height: {{ image_height }}px;
    --promo-banner-image-fit: {{ image_fit }};
    --promo-banner-image-position: {{ image_position }};
    --promo-banner-button-color: {{ button_background_color }};
    --promo-banner-button-text-color: {{ button_text_color }};
    {% if background_image != blank %}--promo-banner-bg-desktop: url('{{ background_image | image_url: width: 1920 }}');{% endif %}
    {% if mobile_background_image != blank %}--promo-banner-bg-mobile: url('{{ mobile_background_image | image_url: width: 1920 }}');{% endif %}
  "
>
  <div class="page-width">
    <div class="promo-banner__container">
      <div class="promo-banner__content">
        {%- if heading != blank -%}
          <h3 class="promo-banner__title">{{ heading | escape }}</h3>
        {%- endif -%}

        {%- if subheading != blank -%}
          <p class="promo-banner__description">{{ subheading }}</p>
        {%- endif -%}

        {%- if button_text != blank and button_url != blank -%}
          <a href="{{ button_url }}" class="promo-banner__button-link">
            <span class="promo-banner__button">{{ button_text | escape }}</span>
          </a>
        {%- endif -%}
      </div>

      <div class="promo-banner__image-wrapper {% if promo_image == blank %}blank{% endif %}">
        {%- if promo_image != blank -%}
          <img
            srcset="
              {%- if promo_image.width >= 300 -%}{{ promo_image | image_url: width: 300 }} 300w,{%- endif -%}
              {%- if promo_image.width >= 600 -%}{{ promo_image | image_url: width: 600 }} 600w,{%- endif -%}
              {%- if promo_image.width >= 900 -%}{{ promo_image | image_url: width: 900 }} 900w,{%- endif -%}
              {{ promo_image | image_url }} {{ promo_image.width }}w
            "
            src="{{ promo_image | image_url: width: 600 }}"
            sizes="(min-width: 750px) 50vw, 100vw"
            alt="{{ promo_image.alt | default: heading | escape }}"
            loading="lazy"
            width="{{ promo_image.width }}"
            height="{{ promo_image.height }}"
            class="promo-banner__image"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Promo Banner",
  "tag": "section",
  "class": "promo-banner",
  "settings": [
    {
      "type": "header",
      "content": "Color Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Special Offer"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Discover our amazing products and exclusive deals"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Background Settings"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image (Desktop)",
      "info": "Optional: Add a background image to the promo banner container for desktop screens"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Background Image (Mobile)",
      "info": "Optional: Add a background image to the promo banner container for mobile screens"
    },
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "id": "promo_image",
      "label": "Promo Image",
      "info": "Upload an image to display alongside the content"
    },
    {
      "type": "select",
      "id": "image_placement",
      "label": "Image Placement (Desktop)",
      "options": [
        { "value": "row", "label": "Right" },
        { "value": "row-reverse", "label": "Left" }
      ],
      "default": "row",
      "info": "On mobile, image will always appear below the content"
    },
    {
      "type": "range",
      "id": "image_height",
      "label": "Image Height",
      "unit": "px",
      "min": 400,
      "max": 800,
      "step": 50,
      "default": 500
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "Image Fit",
      "options": [
        { "label": "Cover", "value": "cover" },
        { "label": "Contain", "value": "contain" }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        { "label": "Top", "value": "top" },
        { "label": "Center", "value": "center" },
        { "label": "Bottom", "value": "bottom" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Spacing Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Promo Banner"
    }
  ]
}
{% endschema %}
